<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>

</head>

<body>
    <!-- Render theo hướng khai báo -->
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
          Rê chuột lên đây một vài giây để xem thuộc tính `title` được bind!
        </span>
    </div>

    <!-- Điều kiện -->

    <div id="app-3">
        <span v-if="seen">Thoắt ẩn thoắt hiện</span>
    </div>

    <!-- Vòng lặp -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos" :key="todo">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script src="index.js"></script>
</body>

</html>