<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.name }}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.name }}
        </li>
    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>

    <div id="app">
        <ul>
            <li v-for="item in student" v-if="item.name">{{ item }}</li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>

</html>